
/* Custom Stylings */
:root {
    --clr-primary-100: rgb(255, 255, 255);
    --clr-primary-400: rgb(248, 249, 250);
    --clr-primary-500: rgb(223, 225, 229);
    --clr-primary-600: rgb(242, 242, 242);
    --clr-primary-700: rgb(95, 98, 102);
    --clr-primary-900: rgb(31, 31, 31);

    --clr-accent-100: rgb(83, 131, 236);
    --clr-accent-300: rgb(221, 103, 88);
    --clr-accent-500: rgb(241, 191, 66);
    --clr-accent-700: rgb(83, 156, 87);

    --ff-primary: "Roboto", sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 600;

    --fs-100: .8rem;
    --fs-200: .95rem;
    --fs-250: 1.15rem;
    --fs-300: 1.5rem;
    --fs-400: 4rem;
    --fs-500: 7rem;

    --size-100: .25rem;
    --size-200: .5rem;
    --size-300: .75rem;
    --size-400: 1rem;
    --size-500: 1.5rem;
    --size-600: 2rem;
    --size-700: 3rem;
    --size-800: 4rem;
    --size-900: 5rem;
}

/* General Home Page Styling */
*{
    font-family: var(--ff-primary);
    font-size: var(--fs-200);
}

body {
    display: grid;
}

.container{
    display: flex;
    justify-content: center;
    margin-inline: auto;
}

/* Primary Navigation */

.primary-header {
    max-width: 100vw;
    margin: .5em;
} 

.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    color: var(--clr-primary-900);
    text-decoration: none;
}

nav ul li a:hover{
    border-bottom: 1px solid var(--clr-primary-900);
}


ul.nav-left-lg{
    width: 10%;
    justify-content: flex-start;
    padding-left: .5em;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

ul.nav-right-lg{
    width: 30%;
    justify-content: flex-end;
    gap: clamp(0.5rem, 2vw, 1.5rem);
    padding-right: .5em;
}

.beaker{
    width: 45px;
    height: auto;
}

.dots{
    padding-block: 1em;
    width: 20px;
    height: auto;
}

.account {
    padding-top: .3em;
    width: 45px;
    height: auto;
}

.nav-left-sm{
    display: none;
}

@media (max-width: 50em) {
    ul.nav-left-sm{
        display: flex;
    }

    ul.nav-left-sm li a{
        text-decoration: none;
        color: var(--clr-primary-700);
        font-size: var(--fs-100);
        font-weight: var(--fw-bold);
        padding: 0 .75rem 1rem .75rem;
    }

    nav ul li:not(:first-child) a:hover {
        border-bottom: 2px solid var(--clr-accent-100);
    }

    nav ul li a:hover{
        border-bottom: none;
    }

    .beaker{
        width: 3rem;
        height: 3em;
    }

    ul.nav-right-sm {
        width: 20%;
    }

    .hide-sm{
        display: none;
    }
}

/* Main heading */

h1{
    display: flex;
    justify-content: center;
    width: 300px;
    color: var(--clr-accent-100);
    font-weight: var(--fw-regular);
}

h1 span{
    font-size: var(--fs-500);
}

@media (max-width: 50em){
    h1{
        width: 180px;
    }

    h1 span{
        font-size: var(--fs-400);
    }
}

/* Search Bar */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    margin-inline: 1em;
}

form input{
    width: 500px;
    border: transparent;
}

@media (max-width: 50em) {
    form{
        padding: 0 1.5em;
    }

    form input {
        max-width: 400px;
    }
}

form input:focus{
    outline: transparent;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .15em .75em;
    border: 1px solid var(--clr-primary-500);
    border-radius: 4em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-block: var(--size-600);
}

.search-bar img{
    width: 2.5em;
    height: auto;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--size-300);
}

.button {
    color: var(--clr-primary-900);
    background-color: var(--clr-primary-400);
    padding: .6em 1.15em;
    width: auto;
    border-radius: 4px;
    text-decoration: none;
}

.button:hover{
    border: 1px solid var(--clr-primary-500);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/*Footer */

footer {
    display: grid;
    grid-template-areas: "footer1 footer2 footer3";
    background-color: var(--clr-primary-600);
    align-items: center;
    line-height: 1em;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer1 {
    grid-area: footer1;
}

.footer2 {
    grid-area: footer2;
}

.footer3 {
    grid-area: footer3;
}

.footer2:visited {

}

@media (max-width: 55em) {
    footer {
        grid-template-areas: "footer2" "footer1" "footer3";
    }

    .footer1, 
    .footer3 {
        padding-block: var(--size-300);
    }
}

footer a{
    color: var(--clr-primary-900);
    text-decoration: none;
    border-bottom: transparent;
}

footer li a:hover,
footer p:hover {
    border-bottom: 1px solid var(--clr-primary-900);
}

.footer1, 
.footer3 {
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.footer2{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer img{
    width: 1.5em;
    height: auto;
}


/* Reset */

*::after,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

li {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Utility classes */

.red {
    color: var(--clr-accent-300);
}

.yellow {
    color: var(--clr-accent-500);
}

.green {
    color: var(--clr-accent-700);
}

.padding-block-100{
    padding-block: var(--size-100);
}

.padding-block-300{
    padding-block: var(--size-300);
}

.padding-block-900{
    padding-block: var(--size-900);
}

/* Google Images webpage styling */

body.images nav{
    justify-content: flex-end;
}

body.images h1{
    position: relative;
}

body.images h1::after{
    content: "Images";
    font-size: var(--fs-300);
    position: absolute;
    top: 4.5em;
    left: 10.25em;
}

@media (max-width: 50em) {
body.images h1::after{
    content: "Images";
    position: absolute;
    font-size: var(--fs-200);
    top: 4em;
    left: 10em;
    }
}

body.images footer {
    line-height: 3em;
}

@media (max-width: 50em) {
    body.images footer {
        line-height: 1em;
    }
}

/* Advanced Search webpage styling */

body.advanced .logo span{
    font-size: var(--fs-300);
    font-weight: var(--fw-semi-bold);
}

body.advanced .logo a{
    text-decoration: none;
}

body.advanced .logo a:visited{
    color: var(--clr-accent-100);
}

body.advanced h1{
    color: var(--clr-accent-300);
    font-size: var(--fs-300);
    padding: var(--size-300) var(--size-700);
    margin-bottom: 0;
}

body.advanced main{
    border-top: 1px solid var(--clr-primary-600);
    margin-top: 0;
    padding-top: var(--size-600);
}

body.advanced form{
    max-width: 900px;
}

body.advanced legend{
    font-size: var(--fs-250);
    font-weight: var(--fw-semi-bold);
}

body.advanced fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body.advanced input, 
body.advanced select{
    margin-block: var(--size-300);
}

body.advanced input {
    border: 1px solid var(--clr-primary-700);
}