
/* Custom Stylings */
:root {
    --clr-primary-100: rgb(255, 255, 255);
    --clr-primary-400: rgb(248, 249, 250);
    --clr-primary-700: rgb(95, 98, 102);
    --clr-primary-900: rgb(31, 31, 31);

    --clr-accent-100: rgb(83, 131, 236);
    --clr-accent-300: rgb(221, 103, 88);
    --clr-accent-500: rgb(241, 191, 66);
    --clr-accent-700: rgb(83, 156, 87);

    --ff-primary: "Roboto", sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 600;

    --fs-100: .8rem;
    --fs-200: .95rem;
    --fs-300: 1.5rem;
    --fs-400: 4rem;
    --fs-500: 7rem;
}

/* General Styling */
*{
    font-family: var(--ff-primary);
    font-size: var(--fs-200);
}

.button {
    color: var(--clr-primary-900);
    background-color: var(--clr-primary-400);
    padding: .5em 1em; 
    text-decoration: none;
    border: none;
}

.form-container{
    display: flex;
    
}

.form-container img{
    width: 2.5em;
    height: 2.5em;
}

/* Primary Navigation */
.container{
    display: flex;
    justify-content: center;
    --max-width: 100vw;
    --padding: .5em;

    width: min(var(--max-width), 100% - var(--padding));
    margin-inline: auto;
}

.primary-header {
    max-width: 100vw;
    margin: 0;
} 

.primary-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    color: var(--clr-primary-900);
    text-decoration: none;
}

nav ul li a:hover{
    border-bottom: 1px solid var(--clr-primary-900);
}


ul.nav-left-lg{
    width: 10%;
    justify-content: flex-start;
    padding-left: .5em;
    gap: clamp(0.5rem, 2vw, 1.5rem);
}

ul.nav-right-lg{
    width: 30%;
    justify-content: flex-end;
    gap: clamp(0.5rem, 2vw, 1.5rem);
    padding-right: .5em;
}

.beaker{
    width: 45px;
    height: auto;
}

.dots{
    padding-block: 1em;
    width: 20px;
    height: auto;
}

.account {
    padding-top: .3em;
    width: 45px;
    height: auto;
}

.nav-left-sm{
    display: none;
}

@media (max-width: 50em) {
    ul.nav-left-sm{
        display: flex;
    }

    ul.nav-left-sm li a{
        text-decoration: none;
        color: var(--clr-primary-700);
        font-size: var(--fs-100);
        font-weight: var(--fw-bold);
        padding: 0 .75rem 1rem .75rem;
    }

    ul.nav-left-sm li a:hover {
        border-bottom: 2px solid var(--clr-accent-100);
        color: var(--clr-accent-100);
    }

    .beaker{
        width: 3rem;
        height: 3em;
    }

    ul.nav-right-sm {
        width: 20%;
    }

    .hide-sm{
        display: none;
    }
}

/* Main heading */

h1{
    display: flex;
    justify-content: center;
    width: 300px;
    color: var(--clr-accent-100);
    font-weight: var(--fw-regular);
}

h1 span{
    font-size: var(--fs-500);
}

@media (max-width: 50em){
    h1{
        width: 180px;
    }

    h1 span{
        font-size: var(--fs-400);
    }
}

/* Reset */

*::after,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img,
picture {
  max-width: 100%;
  display: block;
}

li {
    list-style: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Utility classes */

.red {
    color: var(--clr-accent-300);
}

.yellow {
    color: var(--clr-accent-500);
}

.green {
    color: var(--clr-accent-700);
}


